@media (max-width: 768px) {
    h1 {
        font-weight: 600;
        font-size: 75px;
        color: rgb(255, 255, 255);
        margin-top: 4%;
    }
    svg {
        width: 60px;
        height: 60px;
    
    }
    
    path {
        fill: #ffffff;
        font-weight: 300;
        stroke: #000000;
        stroke-width: 0.4px;
        animation: rainbow 1s linear infinite;
    }
    
    
    .socials {
        z-index: 1000;
        width: fit-content;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0%;
        position: absolute;
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
        margin-top: 140%;
    }
    .socials a{
        text-decoration: none;
    }
}